body {
    text-align: center;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

h1 {
    color:rgb(7, 124, 109);
    font-size: 50px;
            text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
    
}

h3{
    background-color: rgb(241, 231, 112);
    font-size: 30px;
    display: inline-block;
    margin-bottom: 1%;
    margin-top: 0;
    border-radius: 50%;
    cursor: pointer;
    
}

.level{
    background-color: rgb(241, 231, 112);
    border-radius: 6px;
    height: 30px;
    width: 80px;
    font-family:monospace;
    font-size: 15px;
    cursor: pointer;
    
}

.level:hover{
    background-color: honeydew;
}

.timer{
    color:rgb(7, 124, 109);
    font-family:'Courier New', Courier, monospace;
}

.board {
    text-align: center;
    border-collapse: collapse;
    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: rgb(126, 99, 99);
    margin: auto;
    gap: 4px;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;

}

td:hover{
    background-color:rgb(174, 147, 199);
}

.hidden{
    background-color: #777;
    /* overflow: hidden; */
    border: 3px solid black;
    width: 20px;
    height: 20px;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #BBB;
}


.bomb{
    background-color: rgb(214, 66, 66);
}

/* .lives{
    width: 20px;
    background-color: lightgray;
    position:absolute;
    margin-top: 70px;
    
} */

.mines-left{
    margin-top: 3%;
    background-color: rgb(179, 164, 164);
    display: inline-block;
    width: 130px;
    height: 20px;
    margin-top: 1%;
    font-family:'Courier New', Courier, monospace;
    
}

